# OS
.DS_Store

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Office temp files
~$*
.~lock.*

examples/SMBUSummerPractic/

.claude
CLAUDE.md
